* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    font-size: xx-large;
}

div {
    text-align: center;
}

div input[type=text] {
    margin: 8px 0;
    padding: 8px;
    font-family: monospace;
}

div button[id=restart] {
    margin: 20px 0;
    padding: 17px;
    font-family: monospace;
    background-color: rgb(107, 162, 196);
    border:3px solid rgb(84, 122, 146);
    border-radius: 100px;
    color: white;
    cursor: pointer;
}
#highscore {
    opacity: 50%;
}

#reversehighscore {
    opacity: 50%;
}

#averagehighscore {
    opacity: 50%;
}

#hardreset {    
    position: absolute;
    bottom: 10;
    left: 25;
    margin: 20px 0;
    padding: 17px;
    font-family: monospace;
    background-color: rgb(218, 45, 6);
    border:3px solid rgb(103, 22, 4);
    border-radius: 100px;
    cursor: pointer;
    color: white;
}
