* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    font-size: large;
}
div {
    text-align: center;
}
div input[type=text] {
    margin: 8px 0;
    padding: 8px;
    font-family: monospace;
}